/* Resetting Styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Font Styles */
@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

/* Body Styles */
body {
  font-family: 'Inter var', sans-serif;
  background-color: #f5f0e1;
  color: #000; /* All black text color */
  line-height: 1.6;
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #000; /* All black heading color */
}

/* Link Styles */
.prose a {
  color: #8c613c; /* Brownish link color */
  text-decoration: underline;
}

/* Navigation Link Styles */
.nav-line .nav-link {
  color: #8c613c; /* Brownish navigation link color */
}

/* Responsive Styles */
@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
